Node_Red_v1_0.txt
[{"id":"effeb118.5f86f","type":"tab","label":"Nao-dashboard","disabled":false,"info":""},{"id":"5db68456.86363c","type":"ui_text_input","z":"effeb118.5f86f","name":"textInputKirjoita","label":"Kirjoita tähän:","tooltip":"Kirjoita tähän sana tai sanoja Naon sanottavaksi","group":"a954e8e4.3e81e8","order":1,"width":"6","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":320,"y":80,"wires":[["52c6c9fb.9afb08","b5a07d2d.60e05"]]},{"id":"f140f0a4.541f1","type":"ui_button","z":"effeb118.5f86f","name":"lahetaPainike","group":"a954e8e4.3e81e8","order":5,"width":"2","height":"1","passthru":true,"label":"Lähetä","tooltip":"Lähetä kirjoitus Naolle","color":"","bgcolor":"","icon":"send","payload":"payload.KirjoitusTalteen","payloadType":"flow","topic":"","x":140,"y":360,"wires":[["b69278a1.5e74c8","e312a174.ba7b5"]]},{"id":"e312a174.ba7b5","type":"ui_button","z":"effeb118.5f86f","name":"tyhjennaPainike","group":"a954e8e4.3e81e8","order":3,"width":"2","height":"1","passthru":true,"label":"Tyhjennä","tooltip":"Tyhjennä tekstikenttä lähettämättä sisältöä","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"num","topic":"","x":200,"y":180,"wires":[["5db68456.86363c"]]},{"id":"348a0fee.06a52","type":"debug","z":"effeb118.5f86f","name":"DBG2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":180,"wires":[]},{"id":"52c6c9fb.9afb08","type":"debug","z":"effeb118.5f86f","name":"DBG1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":80,"wires":[]},{"id":"b5a07d2d.60e05","type":"change","z":"effeb118.5f86f","name":"changeKirjoitusTalteen","rules":[{"t":"set","p":"payload.KirjoitusTalteen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["348a0fee.06a52"]]},{"id":"37ffdeb9.bb5c92","type":"debug","z":"effeb118.5f86f","name":"DBG3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":360,"wires":[]},{"id":"de75f0a4.91cd3","type":"http in","z":"effeb118.5f86f","name":"","url":"/naotoisto","method":"get","upload":false,"swaggerDoc":"","x":140,"y":560,"wires":[["1c30d21d.3aaffe"]]},{"id":"9d5c4806.7d4168","type":"http response","z":"effeb118.5f86f","name":"","statusCode":"","headers":{},"x":610,"y":560,"wires":[]},{"id":"b69278a1.5e74c8","type":"change","z":"effeb118.5f86f","name":"","rules":[{"t":"set","p":"payload.TekstiNaolle","pt":"flow","to":"payload.KirjoitusTalteen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["37ffdeb9.bb5c92"]]},{"id":"1c30d21d.3aaffe","type":"change","z":"effeb118.5f86f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TekstiNaolle","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":560,"wires":[["9d5c4806.7d4168","4335691c.fd45c8"]]},{"id":"cc5dd541.57d758","type":"change","z":"effeb118.5f86f","name":"","rules":[{"t":"set","p":"payload.TekstiNaolle","pt":"flow","to":"\"\"","tot":"str"},{"t":"set","p":"payload.KirjoitusTalteen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["1b92d7aa.a27228"]]},{"id":"1b92d7aa.a27228","type":"debug","z":"effeb118.5f86f","name":"DBG4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":500,"wires":[]},{"id":"4335691c.fd45c8","type":"function","z":"effeb118.5f86f","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["cc5dd541.57d758"]]},{"id":"a954e8e4.3e81e8","type":"ui_group","z":"","name":"Kirjoita Naolle","tab":"78f0428.1a490bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"78f0428.1a490bc","type":"ui_tab","z":"","name":"Nao-robotti","icon":"home","order":1,"disabled":false,"hidden":false}]